<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Clients List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="clients && clients.length > 0">
    <ion-item *ngFor="let client of clients" button (click)="goToClientForm(client)">
      <ion-label>
        <h2>{{ client.name }} {{ client.surname }}</h2>
        <p>{{ client.email }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/clients-form">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


